{% load static %}
<html>
    <head>
        <title>Juniper Case</title>
    </head>
    <body>
        <div class="container">
            <div class="page-header">
                <div>
                    {% if user.is_authenticated %}
                    <p class="username">안녕하세요! {{ user }}님</p>
                    <a href="{% url 'logout' %}" class="logout">logout</a>
                    <a href="{% url 'change_password' %}" class="change_password">패스워드변경</a>
                    {% endif %}
                </div>
            </div>
            <div class="top-menu">
                <a href="{% url 'data_list' %}" class="IMS">IMS</a>
            </div>
            <div class="inner">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </body>
</html>