{% extends 'common/base.html' %}
{% block content %}
{% if not item %}
<h1>검색 결과가 없습니다</h1>
{% else %}
<div class="item">
    <table>
        <colgroup>
            <col width="150px">
            <col width="100px">
            <col width="250px">
            <col width="70px">
            <col width="100px">
            <col width="100px">
            <col width="*">
            <col width="150px">
        </colgroup>
        <tbody>
            <tr>
                <th>작성자</th>
                <th>case번호</th>
                <th>사이트</th>
                <th>모델</th>
                <th>시리얼</th>
                <th>os버전</th>
                <th>제목</th>
                <th>진행상태</th>
            </tr>
            {% for data in item %}
            <tr>
                <td>{{ data.manager }}</td>
                <td><a href="{% url 'juniper_detail' pk=data.pk %}">{{ data.case_num }}</a></td>
                <td>{{ data.site }}</td>
                <td>{{ data.part }}</td>
                <td>{{ data.serial }}</td>
                <td>{{ data.os_ver }}</td>
                <td><a href="{% url 'juniper_detail' pk=data.pk %}">{{ data.title }}</a></td>
                <td>{{ data.progress }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}
<form class="form-inline my-2 my-lg-0" action="{% url 'juniper_search' %}" method="post">
    {% csrf_token %}
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="q" value="{{q}}">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>
{% endblock %}